.create-dialog {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  padding: 0 !important;

  .el-dialog__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 0 16px;
    box-shadow:
      0 0 1px rgb(2 24 21 / 16%),
      0 4px 12px rgb(2 24 21 / 3%);
  }

  .el-dialog__body {
    position: relative;
    flex: 1;
    min-height: 150px;
    max-height: 70vh;
    padding: 16px;
  }

  .el-dialog__footer {
    padding: 8px;
    box-shadow:
      0 4px 12px rgb(2 24 21 / 3%),
      0 0 1px rgb(2 24 21 / 16%);
  }
}

.create-dialog.__no-footer {
  .el-dialog__footer {
    padding: 0;
  }
}

.create-dialog.__is-fullscreen {
  max-height: 100vh;
  border-radius: 0;
}
